.jim { display: block; }

/* @important(start) */
.john { display: block !important; }
/* @important(stop) */

.joe {
    /* @important(start) */
    display: block !important;
    /* @important(stop) */
}

.jack { display: block; }