.jim { display: block; }
.john { display: block !important; }

.joe {
    display: block !important;
}

@media (max-width: 100px) {
    .jill { display: block; }
}
@media (max-width: 100px) {
    .jill { display: block !important; }
}

.jack { display: block; }