.jim { display: block; }

/* @important(start) */
.john { display: block; }
/* @important(stop) */

.joe {
    /* @important(start) */
    display: block;
    /* @important(stop) */
}

@media (max-width: 100px) {
    .jill { display: block; }
}

/* @important(start) */
@media (max-width: 100px) {
    .jill { display: block; }
}
/* @important(stop) */

.jack { display: block; }